# Environment variables for running this project

# Variables only used in the Compose file
SPA_VERSION=latest
SPA_PORT=8000

# Project variables
# The environment (possible values: development, staging, production or test)
NODE_ENV=development
# The port that this app will listen to
PORT=8000

# This is an example of an environment variable that will be accessible in the app.
# Only variables starting with `VUE_APP_` will be added to the frontend code at build time.
# Do not store secrets in these variables!

# Placeholder image API
# VUE_APP_IMAGE_API=https://picsum.photos/
# VUE_APP_IMAGE_API=https://placekitten.com/
VUE_APP_IMAGE_API=https://placebear.com/
