// Define variable defaults
// See reference: https://bootstrap-vue.org/docs/reference/color-variants
$primary: #f20065;
$body-bg: #f7f7f7;
$body-color: #000;

// Then import Bootstrap an BootstrapVue SCSS files (order is important)
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "node_modules/bootstrap-vue/src/index.scss";
